[Unit]
Description=Launch Noisetorch at Boot

[Service]
User=paolo
ExecStart=/home/paolo/.scripts/launch-noisetorch

[Install]
WantedBy=default.target
